#app { height: 100% !important }
html,
body {
  position: relative !important;
  height: 100% !important;
}

body {
  background: #eee !important;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  color: #000 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.swiper {
  width: 100% !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.swiper-slide {
  background-position: center !important;
  background-size: cover !important;
  width: 300px !important;
  height: 300px !important;
}

.swiper-slide img {
  display: block !important;
  width: 100% !important;
}




